.dropdown-menu{
    position: fixed;
    max-width: 150px;
    text-align: center;
    .items{
        padding: 8px 70px;
        background: #743074;
        margin: 12px;
        border: 1px solid rgba(214, 206, 206, 0.705);
        border-radius: 5px;
        margin-right: 1 8px;  
    }
    i{
        position: relative;
        outline: none;
        border: none;
        cursor: pointer;
        color: rgb(76, 214, 226);
        font-size: 20px;
       
    }
    .keyLinks{
        background: white;
        color: white;
    }
    .keyLinks a{
        margin-bottom: 1px;
        padding: 8px 0;
    }
   
}