




@media (max-width: 760px){
   
    .hamburger {
        position: absolute;
        top: 80%;
        z-index: 1000;
        left: 80%;
        width: 50px;
        height: 50px;
       cursor: pointer;
       outline: none;
   }
   .hamburger span {
        position: relative;
        display: block;
        width: 35px;
        height: 5px;
      background: rgb(255, 254, 255);
      transition: all 0.4s;
   }
   .hamburger span:before, .hamburger span:after {
        content: '';
        display: block;
        height: 5px;
        left: 0;
        background: inherit;
        position: absolute;
        transition: all 0.4s;
        -webkit-animation: gradientbgAnim 49s ease infinite;
        -moz-animation: gradientbgAnim 49s ease infinite;
        -o-animation: gradientbgAnim 49s ease infinite;
        animation: gradientbgAnim 49s ease infinite;
   }
   .hamburger span:before {
        top: -15px;
      width: 15px;
   }
   .hamburger span:after {
        bottom: -15px;
      width: 50px;
   }
   .hamburger:hover span {
     width: 50px;
   }
   .hamburger:hover span:before {
     width: 50px;
   }
   .hamburger:hover span:after {
     width: 50px;
   }
   .hamburger {
        transform: translate(0, -50%);
   }
   .hamburger.close span {
      width: 0px;
   }
   .hamburger.close span:before {
        top: 0;
      width: 50px;
        transform: rotate(45deg);
   }
   .hamburger.close span:after {
        bottom: 0;
      width: 50px;
        transform: rotate(-45deg);
   }
    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        border-radius: 3px;
        position: fixed;
        top: 0;
        background: #457fca;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        width: 100%;
        /* transform: translateX(100%); //to the right */
        transform: translateX(100%);
        transition: transform 500ms;
       
      
      }
      
      .nav.active{
        transform: translateX(0);
        transition: transform 700ms;
       
      
      }
      ul{
        margin: 0;
      }
      ul li{
        list-style: none;
      }
      ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 2rem;
      }
    
}
