.container-blog{
    padding: 10px;
    // background: seagreen;
    margin: 28px auto;
    max-width: 1100px;
    margin-top: 20px;
    .bloggin{
      background: seashell;
      padding: 12px;
    }
    .text-primary{
        color: rgb(0, 0, 0);
        margin: 8px 0;
        font-weight: bold;
        font-size: larger;
    }
    .author{
        color: rgb(134, 13, 104);
        margin-bottom: 12px;
    }
    .blog-text{
        margin-bottom: 5px;
        font-weight: 400;
        // background: salmon;
        padding: 12px 0;
    }
    .blog-text p{
        line-height: 1.6;
    }
    .badge{
        color: white;
    }
    .badge-success{
     background: #2FAD30;
     padding: 5px;
     border-radius: 4px;
    }
    .badge-primary{
     background: #406EC7;
     padding: 5px;
     border-radius: 4px;
    }
    .edit-btn{
        background: #9EC94D;
        color: white;
        font-size: 18px;
        cursor: pointer;
        border: none;
        padding: 8px 15px;
        outline: none;
        margin: 15px 8px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .delete-btn{
        background: #CC0105;
        color: white;
        font-size: 18px;
        cursor: pointer;
        border: none;
        padding: 8px 12px;
        outline: none;
        margin: 15px 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .wrap-div{
        padding: 8px 0px;
    }
}