.navigation{
    background: #5A6599;  /* fallback for old browsers */
    -webkit-box-shadow: -1px 2px 35px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 35px -20px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 35px -20px rgba(0,0,0,0.75);
    z-index: 1000;
    
    
    


.navbar{
    max-width: 1080px;
    margin: 0 auto;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo{
        color: rgb(251, 253, 255);
        text-decoration: none;
        font-size: 24px;
        
        
    }
    .nav-links{
        width: 30%;
        ul{
            padding: 15px;
        }
        li, a{
            list-style: none;
            font-size: 18px;
            color: rgb(237, 248, 239);
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-around;
            text-decoration: none;
        }
        .nav-links a:active{
            color: rgb(255, 255, 255);
        }
    }
    
    
    
}
}
.mobile-only{
    display: none;
}

@media (max-width: 700px){
    .navigation{
        width: 100%;
        position: static;
        
     
     
        
        .logo{
            display: none;
        }
    }
    .bimo{
        color: rgb(243, 230, 230);
        text-decoration: none;
        font-size: 24px;
        margin-left: 5px;
    }
    .mobile-only{
        display: block;
        
    }
    .logo{
        display: none;
    }
    .nav-links{
        display: none;
    }

    
    // .menu-btn {
    //     --box-shadow-color: rgba(255, 101, 47, 0.2);
    //     width: 80px;
    //     height: 80px;
    //     position: relative;
      
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
      
    //     cursor: pointer;
    //     /* border: 5px solid #fff; */
    //     transition: all 0.5s ease-in-out;
    //   }
      
    //   .menu-btn__burger,
    //   .menu-btn__burger::before,
    //   .menu-btn__burger::after {
    //     width: 50px;
    //     height: 6px;
      
    //     border-radius: 5px;
    //     background-color: rgb(21, 102, 156);
    //     box-shadow: 0 2px 5px var(--box-shadow-color);
      
    //     transition: all 0.5s ease-in-out;
    //   }
    //   .menu-btn__burger::before,
    //   .menu-btn__burger::after {
    //     content: "";
    //     position: absolute;
    //   }
    //   .menu-btn__burger::before {
    //     transform: translateY(-16px);
    //   }
    //   .menu-btn__burger::after {
    //     transform: translateY(16px);
    //   }
      
    //   /* ANIMATION */
    //   .menu-btn.open .menu-btn__burger {
    //     transform: translateX(-50px);
    //     background-color: transparent;
    //     box-shadow: none;
    //   }
    //   .menu-btn.open .menu-btn__burger::before {
    //     transform: rotate(45deg) translate(35px, -35px);
    //   }
    //   .menu-btn.open .menu-btn__burger::after {
    //     transform: rotate(-45deg) translate(35px, 35px);
    //   }
      
      
      
      
}